- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: yes

- name: Ensure dependencies are installed
  ansible.builtin.package:
    name:
      - bc
      - curl
      - expect
      - git
      - ca-certificates
    state: present

- name: Create Docker GPG key directory
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"

- name: Download Docker's official GPG key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"

- name: Add Docker repository to Apt sources
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
    filename: docker

- name: Update apt cache after adding Docker repository
  ansible.builtin.apt:
    update_cache: yes

- name: Install Docker and Docker Compose
  ansible.builtin.package:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present

- name: Ensure Docker service is enabled and started
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes

- name: creating directory for the app 
  file:
    path: /root/app
    state: directory
    mode: '0750'

- name: copying the app 
  ansible.builtin.copy:
    src: inception/
    dest: /root/app/ 

- name: copying  the .env 
  ansible.builtin.copy:
    src: env
    dest: /root/app/srcs/.env

- name: Create directory of wordpress volume
  ansible.builtin.file:
    path: /root/data/wp
    state: directory

- name: Create directory of database volume
  ansible.builtin.file:
    path: /root/data/db 
    state: directory
 
- name: Start everything  
  ansible.builtin.shell: 
    cmd: docker compose up -d --build 
    chdir: /root/app/srcs
 
